@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="appTitle">
        <h1 id="appTitle">Assignment 2 - Steven David Pillay</h1>
        <p class="lead">Learning LINQ</p>
    </section>

    <div class="row mt-5">
        <section class="col-md-6" aria-labelledby="whatILearned">
            <h2 id="whatILearned">I learned ...</h2>
            <p>
                In this assignment, I learned several key aspects of ASP.NET MVC development like Data Retrieval and Display, View Models and AutoMapper, LINQ queries, How to work with include(), HTML helpers etc.
            </p>
        </section>
        <section class="col-md-6" aria-labelledby="whatIStruggledWith">
            <h2 id="whatIStruggledWith">I struggled with ...</h2>
            <p>
                Managing and displaying data from multiple related tables (e.g., Tracks, Albums, Genres) was challenging, especially ensuring that all necessary data was correctly loaded and displayed in the view.
                Configuring AutoMapper correctly to handle nested objects and collections required careful attention to detail. Ensuring that data was displayed in the correct format (e.g., dates, currency) involved learning and applying the correct data annotations, which sometimes took trial and error to get right. Designing the view layout to be both functional and aesthetically pleasing was a bit challenging. Making sure all the information was presented clearly and concisely required several iterations.
            </p>
        </section>
    </div>
</main>