@model IEnumerable<SDP2241A5.Models.GenresBaseViewModel>

@{
    ViewBag.Title = "View";
}

<h2>Genre List</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
    </tr>
}

</table>
