@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>This is the third assignment of the WEB524(Summer 2024) course where I am learning how to implement linq queries, create forms and edit forms.</p>
</main>