@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="appTitle">
        <h1 id="appTitle">Assignment 3 - Steven David Pillay</h1>
        <p class="lead">Entity Management, UI Customization, and Handling Many-to-Many Relationships</p>
    </section>

    <div class="row mt-5">
        <section class="col-md-6" aria-labelledby="whatILearned">
            <h2 id="whatILearned">I learned ...</h2>
            <p></p>
        </section>
        <section class="col-md-6" aria-labelledby="whatIStruggledWith">
            <h2 id="whatIStruggledWith">I struggled with ...</h2>
            <p></p>
        </section>
    </div>
</main>