@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="appTitle">
        <h1 id="appTitle">Assignment 5 - Steven David Pillay</h1>
        <p class="lead">Checkout the latest shows by some of the most famous actors</p>
    </section>

    <div class="row mt-5">
        <section class="col-md-6" aria-labelledby="whatILearned">
            <h2 id="whatILearned">I learned about migrations and roleclaims</h2>
            <p>I understood the intricacies of role claims and was successfully able to define 4 different roles. Also, the extent of access to my application greatly depends on the roles</p>
            <p><a href="https://spillay6-wa-web524-a5-gmaucgbcb9hqfxcb.eastus2-01.azurewebsites.net/" class="btn btn-primary btn-md"> Assignment 5 on Azure &raquo;</a></p>
        </section>
        <section class="col-md-6" aria-labelledby="whatIStruggledWith">
            <h2 id="whatIStruggledWith">I struggled with Azure</h2>
            <p>Recently Azure had an update in which Azure web apps had a unique URL, which was longer than usual, whenever I tried to publish my project my username would show up as REDACTED, after countless hours of surfing the web, I finally was able to tweak some configurations and get the publishing workflow working.</p>
        </section>
    </div>
</main>