@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>This is the first assignment of the WEB524(Summer 2024) course where I am learning how to use the class template</p>
</main>