@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="appTitle">
        <h1 id="appTitle">Assignment 1 - Steven David Pillay</h1>
        <p class="lead">Learning the Class Template V1</p>
    </section>

    <div class="row mt-5">
        <section class="col-md-6" aria-labelledby="whatILearned">
            <h2 id="whatILearned">I learned ...</h2>
            <p>How to Perform CRUD operations with .NET Framework. I became comfortable with the auto mapper and understood the basic mechanics of the template. I understood how to update the packages and construct View models.</p>
        </section>
        <section class="col-md-6" aria-labelledby="whatIStruggledWith">
            <h2 id="whatIStruggledWith">I struggled with ...</h2>
            <p>I struggled with the auto generation of the boilerplate code and view. At first, I was not able to generate a controller class, but I managed that by copying the code for the class example. My main problem started when I tried to generate the views, it gave me a weird error saying "package version 5.2.7.xml is missing" Hence, ultimately I had to reinstall Visual Studio again.</p>
        </section>
    </div>
</main>