@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Assignment 4</h1>
    <p>Assignment 4 on <a href="https://spillay6-wa-web524-a4.azurewebsites.net/">Azure</a>.</p>
</div>
